.navigation-invoice-login {
  font-family: Rubik;
  font-size: 28px;
  font-weight: 700;
  line-height: 37.92px;
  color: #1a72dd;
}

.invoice-container {
  padding: 20px;
  max-width: 800px;
}
.invoice-header{
  width: 100%;
}
.invoice-header-text{
  margin-bottom: 20px;
}
.invoice-header-body{
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.invoice-header-left,.invoice-body-right{
  width: 50%;
  text-align: left;
}
.invoice-header,
.invoice-body {
  text-align: left;
  margin-bottom: 20px;
}

.invoice-header-heading {
  text-align: center;
}

.invoice-header h1,
.invoice-body h2 {
  margin: 10px 0;
}

.invoice-body table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.invoice-body table th,
.invoice-body table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.invoice-body table th {
  background-color: #f2f2f2;
}

.invoice-body p {
  margin: 5px 0;
}

.print-btn-outer {
  width: 100%;
  position: fixed;
  bottom: 20px;
  display: flex;
  gap: 15px;
  align-items: center;
  justify-content: center;
}

.print-button {
  padding: 20px 60px;
  background-color: #1a72dd;
  color: white;
  border-radius: 13px;
  border: 0.2px solid gray;
  font-size: 16px;
}

@media (max-width: 600px) {
  .invoice-container {
    padding: 10px;
  }

  .invoice-header,
  .invoice-body {
    text-align: left;
  }

  .invoice-header p,
  .invoice-body p {
    font-size: 14px;
  }

  .invoice-body table th,
  .invoice-body table td {
    font-size: 12px;
    padding: 5px;
  }
}

/* Other styles */

@media print {
  .navigation-header,
  .print-btn-outer {
    display: none;
  }

  .invoice-container {
    margin: 0;
    padding: 0;
    width: 100%;
  }
  .navigation-invoice-login,
  .navigation-header-container {
    display: none;
    margin-top: 10vh;
  }
}

.print-btn-outer {
  text-align: center;
  margin-top: 20px;
}

.print-button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}


