* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

html,
body {
  width: 100%;
  height: 100%;
}

.main-nav-bar {
  >.navigation-header-container {
    padding: 20px 15px 20px;
    box-shadow: none;
    border: none;

    >.navigation-header-Items {
      font-family: Rubik;
      font-size: 32px;
      font-weight: bold;
      line-height: 26.07px;
      color: #1A72DD;

    }
    >.back-button-image-full{
      height: 100%;
      width: 100%;
      object-fit: contain;
    }
  }

  width: 100%;
  /* height: 6.5rem; */
  box-shadow: 1px 1px 16px rgb(173, 173, 173);
}


.main-header {
  display: flex;
  align-items: center;
  gap: 7rem;
  height: 50%;
  background-color: white;
  padding: 0px 16px;
}

.main-header-h1 {
  color: #1a72dd;
  font-size: 20px;
}

.main-header-menu {
  width: 100%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  padding: 0px 10px 0px 0px;
  position: relative;


}

.menu-header-search {
  width: 70%;
  padding: 12px 18px;
  width: 70%;
  border: none;
  background-color: white;
  border: none;
  border-top: 0.5px solid #d1d1d1;
  border-right: 0.5px solid #d1d1d1;

  outline: none;
}

.main-header-menu-select {
  padding: 12.5px;
  width: 70%;
  max-height: 150px;
  overflow-y: auto;
  border: none;
  background-color: white;
  border-top: 0.5px solid #d1d1d1;
  border-right: 0.5px solid #d1d1d1;
  text-align: center;
  outline: none;
  appearance: none;
  /* Hides the default arrow */
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path fill="none" stroke="black" stroke-width="2" d="M5 7l5 5 5-5"/></svg>');
  background-repeat: no-repeat;
  background-position: right 18px center;
  /* Adjust the padding for the arrow */
  background-size: 18px;
  /* Adjust the size of the arrow */
}


.search-icon-outer {
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 0.5px solid #d1d1d1;
  border-top: 0.5px solid #d1d1d1;
  padding: 9px 12px;
}

.search-icon-outer1 {
  background-color: #1a72dd;
  border-radius: 10px;
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 0.5px solid #d1d1d1;
  border-top: 0.5px solid #d1d1d1;
  padding: 9px 12px;
  margin-left: 12px;
}