.login-signup-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 10px;

    >.login-signup-title-container {
        >.login-signup-title {
            font-family: Rubik;
            font-size: 32px;
            font-weight: 700;
            line-height: 37.92px;
            color: #1A72DD;

        }
    }
    >.dummy-div {
        width: 34px;
        height: 34px;
    }
}