.sum-totalizer-footer-container {
    bottom: 0;
    background: linear-gradient(224.61deg, #1A72DD -15.95%, #0D62CA 88.4%);
    width: 90vw;
    height: 80px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 12px 0;
    color: #ffffff;
    font-family: Rubik;
    font-size: 16px;
    font-weight: 500;
    line-height: 18.96px;
    flex-shrink: 0;
    margin-top: 5px;

    >.sum-totalizer-footer-text {
        
        p {
            flex-shrink: 0;
            display: flex;
            align-items: center;
            justify-content: start;
            gap: 5px;
            font-family: Rubik;
            font-size: 16px;
            font-weight: 500;
            line-height: 18.96px;
        }

    }

    >.sum-totalizer-footer-total-amount {        
        p {
            flex-shrink: 0;
            font-family: Rubik;
            font-size: 16px;
            font-weight: 500;
            line-height: 18.96px;
        }

    }


}