.navigation-footer-container{
    width: 100%;
    padding: 20px 40px ;
    background-color: #ffffff;
    border-radius: 24px 24px 0 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-shrink: 0;
}