.color-input{
width: 80px;
height: 80px;
flex-shrink: 0;

>.color-input-overlay{
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}



}
