.login-page-container {
  height: 100svh;
  text-align: center;

  .navigation-header-login {
    font-family: Rubik;
    font-size: 32px;
    font-weight: 700;
    line-height: 37.92px;
    color: #1a72dd;
  }
  .back-button-image-full {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  > .login-form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    margin-top: 25px;

    > .login-form {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 30px;

      > .text-input-container {
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 10px;

        > .login-user-id-input-label,
        .login-user-password-input-label {
          font-family: Rubik;
          font-size: 18px;
          font-weight: 400;
          line-height: 18.96px;
        }

        > .login-user-id-input {
          width: 327px;
          height: 56px;
          border-radius: 16px;
          background-color: rgba(0, 0, 0, 0.05);
          border: none;
          padding: 0 15px;
          font-family: Rubik;
          font-size: 14px;
          font-weight: 400;
          line-height: 14.22px;
          outline: none;
        }

        > .login-user-password-input-container {
          width: 327px;
          height: 56px;
          border-radius: 16px;
          background-color: rgba(0, 0, 0, 0.05);
          padding: 0 15px;
          gap: 15px;
          display: flex;
          align-items: center;
          justify-content: space-between;

          > .login-user-password-input {
            font-family: Rubik;
            font-size: 14px;
            font-weight: 400;
            line-height: 14.22px;
            border: none;
            outline: none;
            width: inherit;
            height: 100%;
            background: transparent;
          }

          > .login-user-password-input-toggle-button {
            background-color: transparent;
            border: none;
            outline: none;
            height: 56px;
            width: 56px;
            font-family: Rubik;
            font-size: 14px;
            font-weight: 500;
            line-height: 14.22px;
            color: #1a72dd;
          }
        }
      }

      > .login-submit-button-input {
        width: 327px;
        height: 56px;
        border-radius: 16px;
        font-family: Rubik;
        font-size: 18px;
        font-weight: 500;
        line-height: 18.96px;
        background: #1a72dd;
        border: none;
        color: #fff;
      }
    }

    > .login-page-information-container {
      width: 327px;
      height: 93px;
      border-radius: 16px;
      background: #1a72dd1a;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 10px;
      margin-top: 15px;

      > .login-page-information {
        text-align: center;
        display: flex;
        flex-direction: column;

        > span:nth-child(1) {
          font-family: Rubik;
          font-size: 16px;
          font-weight: 400;
          line-height: 18.96px;
        }

        > span:nth-child(2) {
          font-family: Rubik;
          font-size: 16px;
          font-weight: 700;
          line-height: 18.96px;
        }
      }
    }
    > .forgot-password {
      color: #1a72dd;
      font-weight: 700;
      padding-bottom: 2px;
      margin-left: 190px;
      margin-top: -25px;
      font-size: 14px;
    }
  }
}
.signup-link {
  font-family: Rubik;
  font-size: 16px;
  font-weight: 800;
  line-height: 18.96px;
  color: #1a72dd;
  text-decoration: none;
  margin-top: 10px;
  margin-left: 10px;
}
