.sidemenu-main-overlay {
  &.open {
    .sidemenu-main {
      transform: translateX(0);
    }

    .overlay {
      display: block;
    }
  }

  .sidemenu-main {
    position: absolute;
    top: 0;
    left: 0;
    width: 70%;
    height: 100%;
    background-color: #1369D1;
    transform: translateX(-100%);
    transition: transform 0.3s ease-out;
    z-index: 10;
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    z-index: 1;
    display: none;
  }
}

.side-menu {
  color: #f7f8fa;
  padding-top: 15px;
  padding-left: 24px;

  .sidemenu-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 26px;
    margin-left: -24px;
    width: 100%;

    .logo-app-name {
      display: flex;
      align-items: center;
      gap: 10px;

      .logo {
        margin-top: -18px;
      }
    }

    .sidemenu-header-button {
      .sidemenu-header-btn {
        width: 70px;
        padding: 6px;
        border-radius: 9px;
        border: none;
        font-size: 12px;
        font-weight: 500;
        color: #1369D1;
      }
    }
  }

  .user-name {
    width: 90%;
    height: 26px;
    margin-top: 18px;
    font-size: 22px;
    font-weight: 500;
    line-height: 26.07px;
    text-align: left;
    display: flex;
    align-items: center;
    
  }

  .line {
    height: 1px;
    background-color: rgba(255, 255, 255, 0.3);
    margin-top: 24px;
    width: 90%;
  }

  .sidemenu-items {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding-top: 28px;
    margin-left: -4px;

    .item {
      display: flex;
      align-items: center;
      gap: 20px;
      padding: 8px 4px;
      width: 90%;
      border-radius: 8px;
      cursor: pointer;

      .item-label {
        font-size: 16px;
        font-weight: 400;
        line-height: 18.96px;
        text-align: left;
        user-select: none;
      }
    }
  }

  .login-history {
    display: flex;
    gap: 10px;
    position: fixed;
    bottom: 120px;

    .ellipse-icon {
      width: 40px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 8px;
      background-color: #3a87e4;
    }

    .content {
      font-weight: 400;
      font-size: 12px;
      line-height: 14.22px;
    }
  }
}

.sidemenu-footer-btn {
  height: 90px;
  background-color: #357ace;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 24px;
  position: fixed;
  bottom: 0;
  width: 100%;

  .sidemenu-footer-button {
    width: 80%;
    padding: 10px;
    border: none;
    border-radius: 8px;
  }
}

@media screen and (max-height: 700px) {
  .sidemenu-main-overlay {
    .sidemenu-main {
      .side-menu {
        .sidemenu-items {
          gap: 8px;
        }

        .login-history {
          position: fixed;
          bottom: 100px;
        }
      }

      .sidemenu-footer-btn {
        height: 80px;
        bottom: -2px;
      }
    }
  }
}

@media (min-height: 700px) and (max-height: 950px) {
  .sidemenu-main-overlay {
    .sidemenu-main {
      .side-menu {
        .sidemenu-items {
          gap: 10px;

          .item {
            padding: 12px 4px;
          }
        }
      }
    }
  }
}

.user-name-text {
  font-size: 22px;
  font-weight: 500;
  line-height: 26.07px;
  text-align: left;
  margin-left: 5px;
  text-transform: capitalize;

}