* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Rubik;

}

.TransactionSuccessfull {
  height: 100svh;
  width: 100%;
  background-color: #1a72dd;
  padding: 20px 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  gap: 15px;

  >.TransactionSuccessfull-main-container {
    width: 327px;
    min-height: 499px;
    height: inherit;
    max-height: 640px;
    border-radius: 10px;

    display: flex;
    padding: 20px 0px 20px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 10px;
    gap: 5px;
    overflow-y: scroll;

    >.TransactionSuccessfull-header {
      padding: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;

      >.transaction-icon {
        width: 150px;
        height: 150px;
      }
    }

    >.TransactionSuccessfull-content {
      padding: 15px;
      display: flex;
      flex-direction: column;
      gap: 5px;

      >.TransactionSuccessfull-heading {
        color: #1a72dd;
        font-size: 24px;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      >.TransactionSuccessfull-note {
        font-size: 13px;
        font-weight: bold;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }

    >.TransactionSuccessfull-content-button {
      height: 100px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      gap: 10px;
      background-color: #1a72dd;
      padding: 10px 30px 10px;
      margin: 20px 0;
      border-radius: 10px;

      >.TransactionSuccessfull-content {
        border-bottom: 1px solid white;

        >.TransactionSuccessfull-heading {
          color: white;
          font-size: 17px;
          padding: 5px 13px;
        }
      }

      >.TransactionSuccessfull-content2 {
        >.TransactionSuccessfull-heading {
          color: white;
          font-size: 17px;
          padding: 5px 13px;
        }
      }
    }

    >.TransactionSuccessfull-footer {
      padding: 10px;

      >.transtaction-email-input {
        width: 100%;
        height: 2.5rem;
        border-radius: 10px;
        border: .1px solid grey;
        padding: 1px 10px;
      }

      >.TransactionSuccessfull-button-email {
        width: 230px;
        padding: 15px 15px;
        border: 1px solid rgba(189, 189, 189, 1);
        color: rgba(189, 189, 189, 1);
        border-radius: 10px;
        font-size: 15px;
        background-color: white;
        cursor: pointer;
      }

      >.TransactionSuccessfull-button-send-receipt {
        width: 230px;
        padding: 20px 20px;
        font-weight: bold;
        font-size: 16px;
        color: #1a72dd;
        margin-top: 10px;
        border-radius: 10px;
        background-color: rgba(26, 114, 221, 0.1);
        border: none;
        cursor: pointer;
      }
    }
  }

  >.TransactionSuccessfull-main-container::-webkit-scrollbar {
    display: none;

  }

  >.next-order-button-input {
    width: 327px;
    height: 57px;
    border-radius: 15px;
    border: 1px solid #1A72DD;
    color: #1A72DD;
    outline: none;
    background-color: #ffffff;
    font-family: Rubik;
    font-size: 16px;
    font-weight: bold;
    line-height: 18.96px;
  }
}



