.navigation-header-container {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 20px 15px 20px;

    >.dummy-div {
        width: 34px;
        height: 34px;
    }
}

